{% load static %}  
<div class="box card h-100">
    <div class="icons">
        <a href="#" class="fas fa-shopping-cart"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
    </div>
    <div class="image">
        {% if product.image %}
            <img src="{{product.image.url}}" alt="Imagen del producto" />
        {% else %}
            <img src="{% static 'image/footer_background.jpg' %}" alt="Default Image">
        {% endif %}    
    </div>
    <div class="content card-body">
        <h2 class="card-title">{{ product.title }}	</h2>
        <h5 class="card-text">{{ product.description }}	</h5>
        <div class="amount">$ {{ product.price}}</div>
    </div>
</div>